body {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    text-shadow: 
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #ff00de, /* Różowy neon */
        0 0 40px #ff00de,
        0 0 80px #ff00de,
        0 0 90px #ff00de,
        0 0 100px #ff00de;
    letter-spacing: 5px;
    background-image: url(2733260.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.nav {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);  
    text-align: center;
    margin: -10px;
    padding: 10px;
    width: 100%;
    position: fixed;  
}

.nav__link {
    text-decoration: none;
    margin: 5px;
    color: inherit;
}

.title {
    padding-top: 60px;
    text-align: center;
    margin: -10px;
}

.main-menu {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 456px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.main-menu__link {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); 
    padding: 20px; 
    border: 2px outset #ff00de;
    border-radius: 5px;
    border-width: 5px;
    text-decoration: none;
    color: inherit;
    flex: 1;
    max-width: 250px;
}

.footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    text-align: center;
    border-top: 2px solid #ff00de;
    position: relative;
    width: 100%;
}
